:root {
  @media screen and (max-width: 375px) and (min-width: 280px){
    --van-button-normal-padding: 0 6px;
    --van-button-default-height: 30px;
    --van-button-normal-font-size: 12px;
  }

  @media screen and (min-width: 376px) and (max-width: 414px){
    --van-button-normal-padding: 0 10px;
    --van-button-default-height: 34px;
    --van-button-normal-font-size: 13px;
  }

}

.van-button--normal{
  white-space: nowrap;
}
